.A{background-image:linear-gradient(to bottom right,lightgreen,mediumaquamarine,lightgreen);
    border-color:outset black;
    border-style:double;
    border-width:10px;
    padding:20px;
   }
 .B{background-color:rgb(4,104,71);
    color:ivory;
    text-align:center;
    font-size:xx-large;
    border-radius:10px;
    padding:10px;
   }
 .C{background-color:rgb(4,104,71);
    color:ivory;
    text-align:left;
    font-size:x-large;
    display:inline-block;
    border-radius:10px;
    padding:5px;
   }
 .D{
    font-size:25px;
   }
 .E{
    font-size:25px;
   }