<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{url_for("static",filename="quotes.css")}}'/>
    <title>Quotes</title>
</head>
<body>
    <div class="f">
        <h1 style="text-align:center"><u>Inspirational Quotes By Missile Man of India A.P.J. ABDUL KALAM</u></h1>
    <div class="e">
        <div><q>Education is the key to unlocking the world, a passport to freedom.</q></div>
        <div><q>There is no greatness without a passion to be great, whether it's the aspiration of an athlete or an artist, a scientist or a businessperson.</q></div>
        <div><q>You have to dream before your dreams can come true.</q></div>
        <div><q>Learning gives creativity, creativity leads to thinking, thinking provides knowledge, knowledge makes you great.</q></div>
        <div><q>Excellence is a continuous process and not an accident.</q></div>
        <div><q>Be more dedicated to making solid achievements than in running after selfish goals.</q></div>
        <div><q>Do we not realize that self-respect comes with achievement?</q></div>
    </div>
    </div>
</body>
</html>